.form-container {
  display: inline-table;
}

.label {
  margin-left: 5px;
  font-weight: 600;
}

fieldset {
  display: flexbox;
  border-radius: 5px;
  border: 1px solid rgb(189, 188, 188);
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 410px;
}

mat-form-field {
  margin-left: 5px;
  width: 200px;
}

.fieldset-row {
  justify-content: space-around !important;
}

.mat-radio-button {
  margin-left: 10px;
}

.radio-group {
  display: inline-flex;
  padding: 5px 5px;
}

.radio-set {
  height: 40px;
}

.radio-group.error {
  border: 2px solid red;
}

.education {
  display: flexbox;
  height: 68px;
}

#checkMsg {
  color: green;
}

.msg-ok {
  visibility: hidden;
  padding-bottom: 5px;
}

.msg-ok-on {
  visibility: visible;
}

.material-icons {
  font-size: 14px;
}

.agree {
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-icon {
  padding-top: 5px;
}

mat-error {
  font-size: 12px;
}

.mat-error {
  font-size: 12px;
}

.btn-update {
  margin-left: 0px !important;
  padding-right: 6px;
}

mat-card-actions {
  padding-left: 10px;
}

mat-card-content {
  margin-bottom: 0px;
}
