<table class="table table-hover table-sm align-center table-striped">
  <thead>
    <tr class="bg-secondary text-light">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Gender</th>
      <th scope="col">Education</th>
      <th scope="col">Smoking</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of persons ; index as i">
      <tr scope="row" [ngClass]="{'font-weight-bold table-active': (i === selectedRow) }">
        <td (click)="selectRow(i)">{{item.firstName}}</td>
        <td (click)="selectRow(i)">{{item.lastName}}</td>
        <td (click)="selectRow(i)">{{item.dateOfBirth}}</td>
        <td (click)="selectRow(i)">{{item.phoneNumber}}</td>
        <td (click)="selectRow(i)">{{item.gender}}</td>
        <td (click)="selectRow(i)">{{educationMap.get(+item.educationId)}}</td>
        <td (click)="selectRow(i)">{{item.isSmoking}}</td>
        <td>
          <button (click)="moveUpPerson(i)" class="btn btn-outline-secondary btn-sm material-icons">arrow_upward</button>
          <button (click)="moveDownPerson(i)" class="btn btn-outline-success btn-sm material-icons ml-1">arrow_downward</button>
          <button (click)="deletePerson(i)" class="btn btn-outline-danger btn-sm material-icons ml-1">close</button>
          <button (click)="updatePerson(i)" class="btn btn-primary btn-sm material-icons ml-1">refresh</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
