<table class="table">
  <thead>
    <tr class="bg-secondary text-light">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Gender</th>
      <th scope="col">Education</th>
      <th scope="col">Smoking</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="table-striped">
    <ng-container *ngFor="let item of persons ; index as i">
      <tr >
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.dateOfBirth}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>{{item.gender}}</td>
        <td>{{educationMap.get(+item.educationId)}}</td>
        <td >{{item.isSmoking}}</td>
        <td>
          <button (click)="moveUpPerson(i)" class="btn btn-outline-secondary btn-sm material-icons">arrow_upward</button>
          <button (click)="moveDownPerson(i)" class="btn btn-outline-success btn-sm material-icons">arrow_downward</button>
          <button (click)="deletePerson(i)" class="btn btn-outline-danger btn-sm material-icons">close</button>
          <button class="btn btn-primary btn-sm material-icons">refresh</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
