.row-selected {
  font-weight: 600;
  background-color: rgb(238, 238, 238);
}

mat-cell {
  display: initial;
}

mat-header-row {
  min-height: 30px;
}

mat-row {
  min-height: 24px;
}

.action-buttons {
  padding-right: 5px;
}
