.btn {
  border: 1px solid #ccc
}

.main {
  background-color: #f0f0f0;
}

.msg {
  color: red;
  display: none;
  padding-left: 10px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.icon-1 {
  font-size: 40px;
  padding-top: 18px;
}

.col-xs-6 {
  padding-right: auto;
}

.msg-1 {
  padding-bottom: 10px;
}

#checkMsg {
  color: green;
}

.msg-ok {
  visibility: hidden;
}

.msg-ok-on {
  visibility: visible;
}

.table-titles {
  text-align: left;
  justify-content: space-around;
  border: 1px solid #ccc;
  background-color: azure;
}

.main-form {
  width: 600px;
}

.err-off {
  display: none;
}

.err-message {
  display: flex;
}

.err-input {
  border: 1px solid red;
}
